#avatar {
  background-image: url('http://www.gravatar.com/avatar/715006648eff9b58c9fa75096b775691?s=134');
  background-size: cover;
  height: 134px;
  width: 134px;
  display: block;
  border-radius: 10%;
  margin-bottom: 8px;
  border: 1px solid #333;
  margin-top: 20px;
}

#social, #me {
  padding: 0;
  margin: 0 0 10px 0px;
  list-style: none outside;
  min-width: 135px;
}

#me {
  padding-left: 6px;
}

#social li {
  display: inline-block;
  font-size: 22px;
  padding-left: 3px;
}

#social a, #social a:visited {
  color: #999;
  -webkit-transition:color 200ms ease-in;
  -moz-transition:color 200ms ease-in;
  -o-transition:color 200ms ease-in;
}

#social a:hover, #social a:visited:hover {
  color: #423F37;
  text-decoration: none;
}

.gray {
  color: #999;
}


/* Fixes for tablet size
-------------------------------------------------- */

@media (min-width: 768px) and (max-width: 979px) {
  #social, #me, #avatar {
    margin-left: -40px;
  }
}



/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding-top: 60px;
}

@media (max-width: 979px) {
  #wrap > .container {
    padding-top: 0px;
  }
}

.container .credit {
  margin: 20px 0;
}